pipeline/pl_rest.json
{
	"name": "pl_rest",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/e1dc7359-05eb-43d9-a1ee-98e0b1164a9f/resourceGroups/ap-rg/providers/Microsoft.Synapse/workspaces/synapse-workspacee/sqlPools?api-version=2019-06-01-preview",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().properties.status,'Online')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Resume Sql pool",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "https://management.azure.com/subscriptions/e1dc7359-05eb-43d9-a1ee-98e0b1164a9f/resourceGroups/ap-rg/providers/Microsoft.Synapse/workspaces/synapse-workspacee/sqlPools/@{item().name}/resume?api-version=2019-06-01-preview",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "AutoResolveIntegrationRuntime",
												"type": "IntegrationRuntimeReference"
											},
											"method": "POST",
											"authentication": {
												"type": "MSI",
												"resource": "https://management.azure.com/"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Pause Sql Pool",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "https://management.azure.com/subscriptions/e1dc7359-05eb-43d9-a1ee-98e0b1164a9f/resourceGroups/ap-rg/providers/Microsoft.Synapse/workspaces/synapse-workspacee/sqlPools/@{item().name}/pause?api-version=2019-06-01-preview",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "AutoResolveIntegrationRuntime",
												"type": "IntegrationRuntimeReference"
											},
											"method": "POST",
											"authentication": {
												"type": "MSI",
												"resource": "https://management.azure.com/"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-28T04:34:48Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}